<strong>Olá, {{ student }}!</strong>
<p>O seu pedido de ajuda foi respondido!</p>
<p>Confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />

</p>
